<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fcm_tour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_fcm_tour"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FCM_TOUR">
        <activity
            android:name=".Views.PaintingQrCodes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AR_Sculptures"
            android:label="@string/title_activity_a_r__sculptures"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.QrScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SideBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Login2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Authentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FB_APP_ID" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="require" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>